.features_section{
    max-width: 1370px;
    margin: auto;
    text-align: center;
    padding: 70px 0 ;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px ;
    margin: 20px ;
    gap: 20px;
    cursor: pointer;
    width: 350px;
    font-size: 18px;
    border-radius: 16px;
}

.features img:hover{
    transform: rotate(15deg);
    transition: all 0.3s ease-in-out 0s;
}
.features:last-child img:hover{
    transform: rotate(-15deg);
    transition: all 0.3s ease-in-out 0s;
}

.featured_title{
    /*font-size: 24px;*/
    font-weight: bold;

    color: #000;
}